## Train data cleaning

In [1]:
import numpy as np
import pandas as pd

train = pd.read_csv("train.csv")
test = pd.read_csv("test_cleaner2.csv")

In [2]:
# The train data goes through the same process as test data

sleeps = train["Sleep Duration"]
top_sleep = sleeps.value_counts().index[0]
for sleep in sleeps.value_counts().index:
    sleep_n = len(train[sleep == sleeps])
    if sleep_n < 10:
        train.loc[:, "Sleep Duration"] = train["Sleep Duration"].replace(sleep, top_sleep)
print(train["Sleep Duration"].value_counts())


diet = train["Dietary Habits"]
#print(diet.value_counts())
top_diet = diet.value_counts().index[0]
for d in diet.value_counts().index:
    d_n = len(train[diet == d])
    if d_n < 10:
        train.loc[:, "Dietary Habits"] = train["Dietary Habits"].replace(d, top_diet)
train["Dietary Habits"].value_counts()


cities = train["City"]
top_city = cities.value_counts().index[0]
for city in cities.value_counts().index:
    city_n = len(train[cities == city])
    if city_n < 10:
        train.loc[:, "City"] = train["City"].replace(city, top_city)
train["City"].value_counts()


profs = train["Profession"]
top_prof = profs.value_counts().index[0]
for prof in profs.value_counts().index:
    prof_n = len(train[prof == profs])
    if prof_n < 10:
        print(prof, prof_n)
        train.loc[:, "Profession"] = train["Profession"].replace(prof, top_prof)
print(train["Profession"].value_counts())


degs = train["Degree"]
top_deg = degs.value_counts().index[0]
for deg in degs.value_counts().index:
    deg_n = len(train[deg == degs])
    if deg[0] == "B" or deg == "LLB":
        train.loc[:, "Degree"] = train["Degree"].replace(deg, "Bachelor")
    elif deg[0] == "M" or deg == "LLM":
        train.loc[:, "Degree"] = train["Degree"].replace(deg, "Master")
    if deg_n < 10:
        print(city, city_n)
        train.loc[:, "Degree"] = train["Degree"].replace(deg, top_deg)
print(train["Degree"].value_counts())


train['Pressure'] = train['Academic Pressure'].combine_first(train['Work Pressure'])
position = train.columns.get_loc('Academic Pressure')

columns = (
    train.columns[:position]  # Columns before the position
    .to_list() + ['Pressure'] +  # Add the new column
    train.columns[position + 2:]  # Exclude old columns being replaced
    .to_list()
)
train = train[columns]
train = train.iloc[:, :-1]


train['Satisfaction'] = train['Study Satisfaction'].combine_first(train['Job Satisfaction'])
position = train.columns.get_loc('Study Satisfaction')

columns = (
    train.columns[:position]  
    .to_list() + ['Satisfaction'] + 
    train.columns[position + 2:]  
    .to_list()
)
train = train[columns]
train = train.iloc[:, :-1]

Sleep Duration
Less than 5 hours    38774
7-8 hours            36912
More than 8 hours    32695
5-6 hours            32095
Name: count, dtype: int64
Academic 5
Profession
Teacher                   24888
Content Writer             7809
Architect                  4365
Consultant                 4219
HR Manager                 4018
Pharmacist                 3889
Doctor                     3252
Business Analyst           3156
Entrepreneur               2965
Chemist                    2962
Financial Analyst          2898
Chef                       2861
Educational Consultant     2847
Data Scientist             2387
Researcher                 2323
Lawyer                     2208
Customer Support           2054
Marketing Manager          1976
Pilot                      1913
Travel Consultant          1860
Plumber                    1742
Sales Executive            1738
Manager                    1736
Judge                      1710
Electrician                1581
Software Engineer          1510
Civil Engineer             1466
UX/UI Designer             1449
Digital Marketer           1369
Accountant                 1338
Mechanical Engineer        1176
Graphic Designer           1160
Research Analyst            690
Investment Banker           393
Name: count, dtype: int64
Degree
Bachelor    70083
Master      52569
Class 12    14725
PhD          3099
Name: count, dtype: int64

In [3]:
train.head(5)

,id,Name,Gender,Age,City,Working Professional or Student,Profession,Pressure,CGPA,Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,0,Aaradhya,Female,49.0,Ludhiana,Working Professional,Chef,5.0,NaN,2.0,More than 8 hours,Healthy,Bachelor,No,1.0,2.0,No,0
1,1,Vivan,Male,26.0,Varanasi,Working Professional,Teacher,4.0,NaN,3.0,Less than 5 hours,Unhealthy,Bachelor,Yes,7.0,3.0,No,1
2,2,Yuvraj,Male,33.0,Visakhapatnam,Student,NaN,5.0,8.97,2.0,5-6 hours,Healthy,Bachelor,Yes,3.0,1.0,No,1
3,3,Yuvraj,Male,22.0,Mumbai,Working Professional,Teacher,5.0,NaN,1.0,Less than 5 hours,Moderate,Bachelor,Yes,10.0,1.0,Yes,1
4,4,Rhea,Female,30.0,Kanpur,Working Professional,Business Analyst,1.0,NaN,1.0,5-6 hours,Unhealthy,Bachelor,Yes,9.0,4.0,Yes,0

In [4]:
train = pd.get_dummies(train, columns=['Gender', 
                                   "Working Professional or Student",
                                   "Dietary Habits",
                                   "Have you ever had suicidal thoughts ?", 
                                   "Family History of Mental Illness",
                                   "Sleep Duration",
                                   "City",
                                   "Profession",
                                   "Degree"], drop_first=True)


dep = train.pop("Depression")
train["y"] = dep
train.head()

,id,Name,Age,Pressure,CGPA,Satisfaction,Work/Study Hours,Financial Stress,Gender_Male,Working Professional or Student_Working Professional,...,Profession_Researcher,Profession_Sales Executive,Profession_Software Engineer,Profession_Teacher,Profession_Travel Consultant,Profession_UX/UI Designer,Degree_Class 12,Degree_Master,Degree_PhD,y
0,0,Aaradhya,49.0,5.0,NaN,2.0,1.0,2.0,False,True,...,False,False,False,False,False,False,False,False,False,0
1,1,Vivan,26.0,4.0,NaN,3.0,7.0,3.0,True,True,...,False,False,False,True,False,False,False,False,False,1
2,2,Yuvraj,33.0,5.0,8.97,2.0,3.0,1.0,True,False,...,False,False,False,False,False,False,False,False,False,1
3,3,Yuvraj,22.0,5.0,NaN,1.0,10.0,1.0,True,True,...,False,False,False,True,False,False,False,False,False,1
4,4,Rhea,30.0,1.0,NaN,1.0,9.0,4.0,False,True,...,False,False,False,False,False,False,False,False,False,0

In [5]:
# Verifying that both train and test data columns match (except "y" column)
traincols = []
testcols = []
for col in train.columns:
    traincols.append(col)
for col in test.columns:
    testcols.append(col)
for col in traincols:
    if col not in testcols:
        print(col + " not in test data")
print("\n")
for col in testcols:
    if col not in traincols:
        print(col + " not in train data")

y not in test data

In [6]:
# Exporting the cleaned train data
#train.to_csv("train_cleaner2.csv", index=False)